<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: 3px dashed green; padding: 5px;} p:hover {color: blue;}
    </style>
    <title>0123 mysql install on django demo1</title>
</head>
<body>
    <h2>mysql_demo1 install django</h2>
    <p>
        __# mysql install on django demo1 <br>-----------------------<br>
        1 | pipenv shell <br>
        2 | pipenv install mysqlclient <br>
        <br>
        3 | from terminal connect to mysql server <br>
        | .. mysql -u root -p <br>
        | <br>
        | .. mysql -u root -h 127.0.0.1 -p <br>


        <br><br>
    </p>

</body>
</html>